@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    min-height: 100vh;
    color: #db4234;
    font-family: 'Fredoka', Arial, sans-serif;
    background-color: #fb9e96;
}
ul li {
    list-style-type: none;
}
button {
    display: block;
    width: 160px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.8px;
    background-color: #2a74be;
    transition: .4s;
    cursor: pointer;
}
button:hover {
    background-color: #2a6aaa;
}
button:active {
    background-color: #26609b;
}
.container {
    max-width: 993px;
    margin: 0 auto;
    padding: 10px;
}

/* Header */
.header-wrap {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.header-wrap img {
    width: 45px;
    margin-right: 15px;
}
.header-wrap h1 {
    color: #2a74be;
    font-size: 42px;
}
.utility-wrap {
    margin-left: auto;
    color: #7b2abe;
}
.hint {
    position: relative;
    margin-left: 10px;
    color: #7b2abe;
    opacity: 0.3;
    text-align: center;
    transition: .4s;
    cursor: pointer;
}
.hint span {
    position: absolute;
    bottom: -130%;
    right: 0;
    display: none;
    min-width: 90px;
    padding: 2px 5px;
    border-radius: 3px;
    color: #2a74be;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #faebeb;
    cursor: default !important;
}
.hint:hover>span {
    display: block;
}
.hint:hover {
    opacity: 1;
}

/* Preview */
.preview-wrap,
.settings-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
    width: 450px;
    margin: 40px auto;
    padding: 25px 20px;
    border: 1px solid #7b2abe;
    border-radius: 4px;
}
.preview-wrap span {
    position: relative;
    width: 25%;
    padding-left: 25px;
    font-size: 20px;
    text-transform: capitalize;
}
.preview-wrap span::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -12px;
    width: 22px;
    height: 22px;
    background: url(img/cubes.svg) 50% no-repeat;
    transform: translateY(-50%);
}
.preview-wrap span:nth-child(1):before {
    background-image: url(img/cubes.svg);
}
.preview-wrap span:nth-child(2):before {
    background-image: url(img/earth.svg);
}
.preview-wrap span:nth-child(3):before {
    background-image: url(img/test.svg);
}
.preview-wrap span:nth-child(4):before {
    background-image: url(img/clock.svg);
}
.preview-btn {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto 20px;
}
.preview-btn button {
    width: 48%;
}

/* Settings */
.settings-wrap {
    justify-items: flex-start;
    align-items: start;
    width: 760px;
}
.settings-wrap fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
}
.settings-wrap legend {
    margin-bottom: 10px;
    color: #2a74be;
    font-size: 22px;
}
.settings-wrap fieldset label {
    margin: 0 20px 7px 0;
    padding-left: 10px;
    font-size: 19px;
    text-transform: capitalize;
}
.settings-wrap fieldset label::before {
    width: 12px;
    height: 12px;
}
.settings-wrap fieldset input:checked+span {
    left: 4px;
    width: 8px;
    height: 8px;
}


/* Quiz */
.content-wrap {
    position: relative;
    padding: 40px 0 20px;
}
.timer {
    position: absolute;
    top: 45px;
    right: 20px;
    color: #2a74be;
    font-size: 28px;
    letter-spacing: 1px;
}
.content-wrap h2 {
    font-size: 32px;
    text-align: center;
}
.quiz-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 750px;
    margin: 50px auto 0;
}
.quiz-wrap .answer {
    display: flex;
    flex-direction: column;
}
.quiz-wrap .result-show {
    position: relative;
}
.quiz-wrap .result-show::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content-wrap label {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 25px;
    cursor: pointer;
}
.content-wrap label::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #db4234;
    border-radius: 50%;
    transform: translateY(-50%);
}
.content-wrap input:checked+span {
    position: absolute;
    top: 50%;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #db4234;
    transform: translateY(-50%);
} 
.content-wrap input {
    visibility: hidden;
}
.quiz-wrap label:last-child {
    margin-bottom: 0;
}
.quiz-wrap .correct-answ::before,
.quiz-wrap .incorrect-answ::before {
    width: 20px;
    height: 20px;
    border: none;
    background: url(img/check.svg) 50%/100% no-repeat;
}
.quiz-wrap .incorrect-answ::before {
    background-image: url(img/cross.svg);
}
.quiz-wrap .correct-answ span,
.quiz-wrap .incorrect-answ span {
    display: none;
}
.question {
    align-self: center;
}
.quiz-wrap img[data-type="map"] {
    max-width: 300px;
    height: 180px;
}
.quiz-wrap img[data-type="flag"] {
    height: 100px;
}
.question b {
    color: #7b2abe;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.8px;
}
.quiz-wrap .check-btn-wrap {
    width: 100%;
}
.check-btn-wrap button {
    margin: 40px auto;
}

/* Test result page */
.result-page b {
    display: block;
    margin-top: 15px;
    color: #2a74be;
    font-size: 26px;
    text-align: center;
}
.result-page img {
    display: block;
    width: 80px;
    margin: 40px auto;
}
.result-page button {
    margin: 0 auto;
}

/* Login */
.login-wrap {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
}
.login-wrap label {
    display: block;
    padding-left: 0;
    color: #2a74be;
}
.login-wrap label::before {
    display: none;
}
.login-wrap input {
    display: block;
    width: 100%;
    visibility: visible;
    margin-top: 7px;
    padding: 8px;
    border: 1px solid #2a74be;
    border-radius: 2px;
    color: #db4234;
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffe3e3
}
.login-wrap input:focus {
    border-color: #1e4f81;
}
.login-wrap button {
    width: 100%;
}
.error-message {
    position: absolute;
    top: 5px;
    width: 300px;
    display: none;
    margin: 0 auto;
    padding: 5px;
    border-radius: 4px;
    color: #fbdada;
    font-size: 17px;
    letter-spacing: 0.8px;
    text-align: center;
    background-color: #fb5f6e;
}